@import "tailwindcss";
@import "./styles/fonts.css";

:root {
  --font-sf-ui-display: "SF UI Display", "Inter", "Roboto", system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sf-ui-display);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
